.page-title {
  margin-bottom: 0.5rem !important;
}

.avatar-sidebar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--lightgray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0 1.5rem 0;
  object-fit: cover;
}
